img {
    max-width: 100%;
    height: auto;
  }

  

  #siteHeader{
      background-color: rgb(226, 19, 19);
  }

  footer {
      background-color: rgb(58, 56, 56)
  }

  .pad {
      margin: 10;  
    }